<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    
    <!-- Maven Central OSSRH Server Configuration -->
    <servers>
        <server>
            <id>ossrh</id>
            <username>UsC4b3</username>
            <password>GoRNnkUIedGnrN72dm08EM3pHM05P70kT</password>
        </server>
    </servers>
    
    <!-- Plugin Groups -->
    <pluginGroups>
        <pluginGroup>org.sonatype.plugins</pluginGroup>
    </pluginGroups>
    
    <!-- Profiles for different environments -->
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
            </properties>
        </profile>
    </profiles>
    
</settings>